		
/***************************************************
	HTML ELEMENTS
***************************************************/
html {
	font-family: sans-serif;
	font-size: 13px;
	margin-bottom: 100px;
}

h2 {
	margin-bottom: 3pxim	margin-top: 0px ;
}

img {
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: 145px;
    display: block;
}

p {
	margin-top: 0px;
	margin-bottom: 2px;
}

section {
	margin-top: -35px;
}

.title {
	font-size: 24px; /* Adjust the font size as needed */
	font-weight: bold;
	text-align: right;
}

/***************************************************
	CONTAINER 
***************************************************/

.container {
	display: flex;
	width: 1000px;
	/* Center the purchase order */
	margin-left: auto;
	margin-right: auto;
	/* Create some space before and after */
	margin-top: 40px;
	margin-bottom: 40px;
}

/***************************************************
	COLUMNS 
***************************************************/
.column {
	flex: 1;
	padding: 10px;
}

/***************************************************
	TABLES 
***************************************************/

/* Table title */
.table th {
	border: 1px solid #000;
	padding: 8px;
	text-align: center;
	background: #e6e6e6;
}

/* Inside the table */
.table td {
	border: 1px solid #000;
	padding: 8px;
	text-align: center;
	background: white;
}

.table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table tr:hover {
	background-color: #000;
}

.table .merged {
	text-align: center;
}

/***************************************************
	SPAN 
***************************************************/
.bold-text {
	font-weight: bold;
}

/***************************************************
	HEADER
***************************************************/
.logo {
	height: 100px; /* Adjust the height as needed */
}

.company-info {
	text-align: center;
	margin-top: -12px;
}

.company-info p {
    margin-top: 1px;
    margin-bottom: 0px;
    margin-right: 100px;
}

.table {
    border-collapse: collapse;
    width: 75%;
    margin-left: 120px;
    margin-top: 10px;
}

/***************************************************
	SECTION 1
***************************************************/
.table-section1 {
	border-collapse: collapse;
	width: 100%; 
}

/* Table title */
.table-section1 th {
	border: 1px solid #000;
	padding: 8px;
	text-align: left;
	background: #e6e6e6;
}

/* Inside the table */
.table-section1 td {
	border: 1px solid #000;
	padding: 8px;
	text-align: left;
	background: white;
}

/***************************************************
	SECTION 2
***************************************************/
.column-section2 {
	flex: 1;
	padding: 10px;
	margin-left: 510px;
}

/***************************************************
	SECTION 3
***************************************************/
.table-section3 {
	border-collapse: collapse;
	width: 100%; 
	text-align: center;
}

/* Table title */
.table-section3 th {
	border: 1px solid #000;
	padding: 8px;
	background: #e6e6e6;
}

/* Inside the table */
.table-section3 td {
	border: 1px solid #000;
	padding: 8px;
	background: white;
}

.align-left {
	text-align: left;
}

/***************************************************
	SECTION 4
***************************************************/
.column-section4 {
	flex: 1;
	padding: 10px;
	margin-left: 510px;
}
/* Table title */
.table-section4 th {
	border: 1px solid #000;
	padding: 8px;
	background: #e6e6e6;
}

/* Inside the table */
.table-section4 td {
	border: 1px solid #000;
	padding: 8px;
	background: white;
}

.column-section4 th {
	text-align: right;
}
.table-section4 {
	border-collapse: collapse;
	width: 100%; 
	text-align: center;
}
.align-left {
	text-align: left;
}

/***************************************************
	VALIDATION
***************************************************/
.row-validation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 0px;
  justify-content: center; /* Add this line to horizontally center the element */
  align-items: center; /* Add this line to vertically center the element */
}